.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #ffffff;
  border-bottom: 1px solid #f3f4f6; /* 조금 더 연한 선 */
}

.inner {
  max-width: 1200px;
  margin: 0;
  padding: 12px 24px;
  display: flex;
}

/* 로고 */
.logo {
  display: flex;
}

.logo img {
  height: 60px;
}

/* 검색 */
.searchBox {
  flex: 0 1 400px; /* 너무 넓어지지 않게 고정폭 권장 */
  position: relative;
  padding-left: 100px;
}

.searchInput {
  width: 100%;
  padding: 10px 45px 10px 200px; /* 오른쪽 아이콘 자리 확보 */
  border: 1px solid #f3f4f6; 
  border-radius: 8px;
  font-size: 15px;
  height: 30px;
  background-color: #f9fafb; /* 이미지처럼 옅은 회색 배경 */
  transition: all 0.2s;
}

.searchInput:focus {
  outline: none;
  border-color: #22c55e;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.2);
}

/* 우측 영역 */
.right {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 5%;
}

.loginBtn {
  padding: 8px 14px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  background-color: #22c55e;
  color: white;
  font-size: 14px;
  cursor: pointer;
  height: 50px;
}

.loginBtn:hover {
  background: #f9fafb;
  color: black;
}

/* 장바구니 */
.cart {
  position: relative;
  font-size: 30px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;

  background: #ef4444;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;

  padding: 2px 6px;
  border-radius: 999px;
}
